body {
    margin: 0px;
    padding: 0px;
    background-image: url(pc_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

@media(max-width:900px) {
    body {
        background-image: url(pe_bg.jpg);
    }
}

.logosize {
    width: 35vh;
}

.pic {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
}

.pic:hover {
    color: darkorange;
    font-weight: bold;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.disperse {
    text-align: justify;
    text-justify: inter-ideograph;
    font-size: 10vmin;
    font-weight: bold;
    color: darkblue;
}

.disperse:after {
    content: '';
    display: inline-block;
    width: 100%;
}

img.square {
    width: 200px;
    border-radius: 50%;
    border: 2px solid darkblue;
}

.photoimg {
    border-radius: 10px;
}

.ph-class {
    font-size: 10vmin;
}

.ph-mar {
    height: 30vh;
}